#div1{
    width: 1200px;
    height:400px;
    border: 1px solid;
    margin-left: 3px;
}#div2{
    width: 1200px;
    height:600px;
    border: 1px solid;
    margin: 5px;
}
.name {
    font-size: 24px;
    /*height: 20px;*/
    margin-left: 10px;
    margin-top: 10px;
}
#btn1{
    width: 80px;
    height: 30px;
    margin: 5px;
}
#input1{
    width: 200px;
    height: 25px;
    /*background-image: url(/jedate-6.5.0/skin/jedate.png);
    background-size: 25px;
    background-position: right;*/
}
#label2{
    margin-left: 100px;
}
#input3{
    margin-left: 650px;
    width: 200px;
}
#jd1{
    float: left;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 50px;
 }

#jd2{
    float: left;
    margin-right: 50px;
}
#jd2{
    /*float: left;*/
    margin-left: 50px;
}
#ztreediv1{
    margin-left: 5px;
}
#btn1{
    background-color: red;
    height: 30px;
    width: 100px;
}
#btn2{
    background-color: blue;
    height: 30px;
    width: 100px;
}
.icons{

}

