.pumpRunCount-search .dateinput {
	width: 150px;
	float: none;
}

.endTime {
	margin-left: 10px;
}

.tree-wrapper .tree-icon {
	
	color: #fff;
}

.tree-wrapper .tree-shape {
	border-right: 13px solid #0075c7;
}

.tree-wrapper.treeCollapse .tree-shape {
	border-left: 13px solid #0075c7;
}

.tree-head {
	height: 50px;
	width: 270px;
}

.tree-head-jz {
	height: 50px;
	width: 134px;
	float: left;
	line-height: 50px;
	text-align: center;
	color: white;
	cursor: pointer;
}

.tree-hleft {
	background-color: #00629B;
}

.tree-hright {
	background-color: #596572;
}
