<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>能源质量</title>
    <!--页面上的css-->
    <style>
        .PressureData {
            background: #fff;
            width: 100%;
        }
        .pumpRunCount-search .dateinput {
            width: 120px;
            float: none;
        }
        .tree-wrapper .tree-icon {
            color: #fff;
        }
        .tree-wrapper .tree-shape {
            border-right: 13px solid #0075c7;
        }
        .tree-wrapper.treeCollapse .tree-shape {
            border-left: 13px solid #0075c7;
        }
    </style>
</head>
<body>
<div class="iframe-wrapper" style="overflow-x: hidden; position: relative;">
    <div class="page-container">
        <!--tree-wrapper包含树的结构-->
        <div class="tree-wrapper" style="float: left;width: 13%">
            <div class="tree-content">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
        <!--页面主体内容部分-->
        <div class="content-wrapper"style="width:87%;float: right">
            <!--功能区域-->
            <div class="page-btns-box clearfix" style="margin: 0; padding: 10px">
                <form class="form-inline pumpRunCount-search pu0ll-left">
                    <!--添加功能区域-->
                    <button type="button" id="btn btn-add5" class="btn btn-add3 btn-success" onclick="quality.btnAdd()">
                        <span class="glyphicon glyphicon-plus"></span>添加属性配置
                    </button>
                </form>
            </div>
            <!--图表-->
            <div class="PressureData">
                <div class="pressureList">
                    <!--列表-->
                    <div class="page-main-box clearfix" id="preInstantTable" style="width:100%;float: left; margin: 0 auto; padding: 10px">
                        <table class="table" id="mytable"></table>
                    </div>
                </div>
            </div>
            <!--添加介质模态框（myModal1）-->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" v-if="btnState == 0">添加属性配置数据</h4>
                        </div>
                       <div class="modal-body">
                            <form class="form-horizontal" role="form" id="addthree" action=" " method="post">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">介质名:</label>
                                    <div class="col-sm-10 input-box">
                                        <select class="form-control" id="mediaNameTwo1" ></select>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">属性名:</label>
                                    <div class="col-sm-10 input-box">
                                        <select class="form-control" id="projectName" ></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><font color="black">默认下限:</font></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="minimum" placeholder="请输入下限">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><font color="black">默认上限:</font></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="maximum" placeholder="请输入上限">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><font color="black">单位:</font></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="unitName" ></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><font color="black">描述:</font></label>
                                    <div class="col-sm-10">
                                        <textarea type="text" class="form-control" id="state" placeholder="请输入属性描述"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="quality.btnOk(1)">确定</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--修改介质属性模态框（myModal2）-->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" v-if="btnState == 0">修改属性配置数据</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" id="editMediaOrProject" action=" " method="post">
                                <input type="hidden" id="hdMid">
                                <input type="hidden" id="mid" >
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">介质名:</label>
                                    <div class="col-sm-10 input-box">
                                        <input type="text" class="form-control" id="mediaName"  readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">属性名:</label>
                                    <div class="col-sm-10 input-box">
                                        <input type="text" class="form-control" id="projectName2"  readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><font color="black">默认下限:</font></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="minimum1" placeholder="请输入下限">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><font color="black">默认上限:</font></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="maximum1" placeholder="请输入上限">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><font color="black">单位:</font></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="unitName2"  readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><font color="black">描述:</font></label>
                                    <div class="col-sm-10">
                                        <textarea type="text" class="form-control" id="state1" placeholder="请输入属性描述"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="quality.btnOk(2)">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/Site1.js"></script>
<script src="../../lib/ztree/js/jquery.ztree.exhide.js"></script>
<script src="../../lib/ztree/js/fuzzysearch.js"></script>
<script src="../../lib/echarts/echarts.min.js"></script>
<script src="../../js/media/media.js"></script>

</body>
</html>