<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>采集点详情</title>
</head>
<body>
<div class="iframe-wrapper" style="overflow-x: hidden; position: relative;">
    <div class="page-container">
        <!--页面主体内容部分-->
        <div class="content-wrapper">
            <!--功能区域-->
            <div class="page-btns-box clearfix" style="margin: 0; padding: 10px">
                <form class="form-inline pumpRunCount-search pu0ll-left">
                    <!--添加功能区域-->
                    <button type="button" id="btn btn-add" class="btn btn-add btn-success" onclick="patch.btnAdd()">
                        <span class="glyphicon glyphicon-plus"></span>添加采集点
                    </button>
                </form>
            </div>
            <!--图表-->
            <div class="PressureData">
                <div class="pressureList">
                    <!--列表-->
                    <div class="page-main-box clearfix" id="preInstantTable" style="width:100%;float: left; margin: 0 auto; padding: 10px">
                        <table class="table" id="mytable"></table>
                    </div>
                </div>
            </div>
            <!--添加采集点(myModal1)-->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="Label"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" v-if="btnState == 0">添加采集点</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" id="addProject" action=" " method="post">
                                <!--隐藏域放用户id-->
                                <!--<input type="hidden" id="id">-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><font color="black">采集点名称:</font></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="patchName1" placeholder="请输入采集点名称">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="patch.btnOk(1)">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--修改采集点（myModal1）-->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="Label"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" v-if="btnState == 0">修改采集点</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="addOneMedia" action=" " method="post">
                            <!--隐藏域放用户id-->
                            <input type="hidden" id="id">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><font color="black">采集点名称:</font></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="patchName" placeholder="请输入采集点名称">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="patch.btnOk(2)">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/Site1.js"></script>
    <script src="../../js/ter.js"></script>
    <script src="../../js/media/patch.js"></script>
</body>
</html>
